<%= form_tag login_path do %>
  <p>
  <%= label_tag :name %>
  <%= text_field_tag :name %>
  </p>
  <p>
  <%= label_tag :password%>
  <%= password_field_tag :password%>
  </p>

  <%= submit_tag 'Login' %>
<% end %>

<p><%= link_to 'Mau bikin account??', new_user_path %></p>
